*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  border-color: #2e4e6c;
  border-radius: 5px;
}
button {
  border-color: #2e4e6c;
  border-radius: 5px;
  margin-left: 10px;
}


.load-more {
  display: block;
  margin: 0 auto;
  background-color: #2e4e6c;
  padding: 10px;
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(199, 200, 244, 0.698);
}



.is-hidden{
  display: none;
}

.photo-card{

  margin: 10px;
  width: 200px;
  height: 200px;
  overflow: hidden;
}


.info {
  display: flex;
  text-align: center;
  font-size: 12px;
  justify-content: space-between;
  padding: 10px 15px;

}



.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


